.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    min-height: 200px;
    background-color:gold; 
    
    background-image: url(https://cdn.pixabay.com/photo/2015/11/15/21/31/lego-1044891__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

main img{
    width: 150px;
    height: 150px;
}

.rowLink :hover{
    background-color: grey;
}

header h1{
    color: brown;
}
 
nav{
   min-height: 60px;
   color:whitesmoke;
   background-color:gray; 
}


a{
    text-decoration-style: none;
    text-decoration: none;
    color: rgb(39,39,39);
}

a :hover{
    color: rgb(39,39,39);
}


