header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThkdxR8xaxp5p5IJl2-7ErAO8EdJIZ_ZMXBA&usqp=CAU");
}

.pic{
    margin-top: 25px;
    height: 150px;
    width: 250px;
    background-size: cover;
    background-position: center;  
}  


.leaflet-container {
    width: 100%;
    height: 100vh;
}
